#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[zh_CN]=
Comment=
Exec=/usr/bin/code  /home/tintin/Workspaces/study_python/.vscode/python.code-workspace
GenericName[zh_CN]=
GenericName=
Icon=/home/tintin/Workspaces/study_python/.vscode/icons8-python.svg
MimeType=
Name[zh_CN]=study_python
Name=study_python
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
